    <%= form_with(model: @user, local: true, id: "formdesu") do |f| %>
      <div class="form-group">
        <%= f.text_field :discordid, type: 'hidden'  %>
      </div>

      <div class="form-group">
        <%= f.text_field :discordname, type: 'hidden' %>
      </div>

      <%= f.submit '', type: 'hidden' %>
    <% end %>
<h1>Slack連携処理中です...</h1>
<p>現在Slackとの連携処理を行っています。これにはしばらく時間がかる場合があります</p>
<p>処理完了後は自動的にリダイレクトされますのでこのままでお待ちください</p>
<script>
 const moto = "<%= @hello %>"
 const cookieValue = document.cookie.split('; ').find(row => row.startsWith('cookieuserid')).split('=')[1];
             async function postData(url = '', data = {}) {
                const response = await fetch(url, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                body: JSON.stringify({ code: moto}) 
               })
               return response.json();
            }
           postData('https://foryo-guruto.herokuapp.com/auth')
           .then(data => {
             console.log(data)
             const username = data.user;
             const userid = data.user_id;
             
            document.getElementById( "discordid" ).value = userid ;
            document.getElementById( "discordname" ).value = username ;
            document.getElementById("formdesu").submit();
           })
</script>